---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>Welcome to the english page</h2>
	</main>
</Layout>

