---
import Layout from "../../layouts/Layout.astro";
import LanguageSelector from "../../components/LanguageSelector.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<LanguageSelector actualComponent='' />
		<h2>Bienvenido a la página en castellano</h2>
	</main>
</Layout>

