---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import LanguageSelector from '../../components/LanguageSelector.astro';
import SiteInProgress from './site-in-progress.astro';
---



<Layout title="Welcome to Astro.">
	<main>
		<SiteInProgress />
	</main>
</Layout>
